[session]
[account]
==
<!doctype html>
<html lang="en">

<head>
    {% partial "common/head.htm" %}
</head>

<body>
<!-- light dark theme switch -->
{% partial "common/theme_switcher.htm" %}
<!-- preloader section -->

{% partial "common/preloader.htm" %}
<!-- page wrapper section -->
<div id="wrapper"></div>
<!-- preloader section -->
<!-- header top section -->
{% partial "common/topbar.htm" %}
<!-- Body Part - hero section -->
{% page %}
<!-- Footer Part -->
{% partial "common/footer.htm" %}
<!-- back to top -->
<a href="#wrapper" data-type="section-switch" class="scrollup"><i class="bi bi-caret-up"></i></a>
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="bi bi-x-lg"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
            <button class="btn custom-btn-secondary button-effect min-w-auto"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Bootstrap Bundle with Popper -->
</body>
{% partial "common/scripts.htm" %}
</html>
