<footer class="footer py-5" data-aos="fade-down">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-12 text-center">
                <img src={{ "assets/dist/images/brand.png"|theme }} class="img-fluid" alt="Brand light">
                <p class="pt-2 mb-0 font-extra-small">&copy; Copyright 2024 by AstroGyan, All rights reserved. Various
                    trademarks are held by their respective owners.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h3 class="h5 fw-bold mb-4 mt-5 mt-lg-5">About Us</h3>
                <p class="mb-0 font-small pe-lg-5">AstroGyan, partner with a team that has the experience and drive to help
                    you become
                    a market leader.</p>
                <h3 class="h5 fw-bold mb-4 mt-5 mt-lg-5">Say Hello!</h3>
                <div class="d-flex social">
                    <a href="javascript:void(0)" class="h2 pe-3"><i class="bi bi-skype"></i> </a>
                    <a href="javascript:void(0)" class="h2 pe-3"><i class="bi bi-telephone-fill"></i></a>
                    <a href="javascript:void(0)" class="h2 pe-3"><i class="bi bi-envelope-paper-fill"></i></a>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="h5 fw-bold mb-4 mt-5">Our Company</h3>
                                <ul class="link-list">
                                    <li><a href="javascript:void(0)" class="footer-link-effect">About Us</a></li>
                                    <li><a href="javascript:void(0)" class="footer-link-effect">Consultancy</a></li>
                                    <li><a href="javascript:void(0)" class="footer-link-effect">Blog</a></li>
                                    <li><a href="javascript:void(0)" class="footer-link-effect">Contact</a></li>
                                    <li><a href="javascript:void(0)" class="footer-link-effect">Terms of use</a></li>
                                    <li><a href="javascript:void(0)" class="footer-link-effect">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <h3 class="h5 fw-bold mb-4 mt-5 mt-md-0 mt-lg-5">Newsletter</h3>
                <form class="form-subcriber">
                    <input type="email" placeholder="Your emaill address">
                    <button class="btn-subscribe" type="submit"><i class="bi bi-envelope"></i></button>
                </form>
                <h3 class="mt-4 h5 fw-bold mb-4">Social Network</h3>
                <div class="d-flex social mt-3">
                    <a href="javascript:void(0)" class="h2 pe-3"><i class="bi bi-facebook"></i></a>
                    <a href="javascript:void(0)" class="h2 px-3"><i class="bi bi-twitter-x"></i></a>
                    <a href="javascript:void(0)" class="h2 px-3"><i class="bi bi-linkedin"></i></a>
                    <a href="javascript:void(0)" class="h2 px-3"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
