<script src={{ "assets/dist/js/jquery.min.js"|theme }}></script>
<script src={{ "assets/dist/js/bootstrap.bundle.min.js"|theme }}></script>
<script src={{ "assets/dist/js/color-modes.js"|theme }}></script>
<script src={{ "assets/dist/js/owl.carousel.min.js"|theme }}></script>
<script src={{ "assets/dist/js/glightbox.min.js"|theme }}></script>
<script src={{ "assets/dist/js/light-gallery.js"|theme }}></script>
<script src={{ "assets/dist/js/counter.js"|theme }}></script>
<script src={{ "assets/dist/js/aos.js"|theme }}></script>
<script src={{ "assets/dist/js/main.js"|theme }}></script>
