<div class="border-bottom py-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="d-flex p-0 mb-0">
                    <p class="mb-0 font-small"><i class="bi bi-bell"></i> Discover 2024's biggest <a href="#">astro</a> trends.
                        Our 2024
                        horoscope
                        report is out now.</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center justify-content-lg-end position-relative">
                    <div class="d-flex top">
                        <a href="javascript:void(0)" class="pe-3 search-switch"><i class="bi bi-search fs-4 pe-2"></i>Поиск</a>
                        {% partial "auth/login_button" %}
                        <!-- wishlist sction -->
                        <div class="item-wrap">
                            <div class="notify-btn">
                                <i class="bi bi-heart"></i>
                                <span class="tag">3</span>
                            </div>
                            <div class="main-box notify-box">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5 class="mb-0">Wishlist</h5>
                                        <span class="tag-count">03</span>
                                    </div>
                                    <button>
                                        <i class="bi bi-x"></i>
                                    </button>
                                </div>
                                <!-- wishlist content -->
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <figure class="mb-0 flex-shrink-0">
                                                <img src={{ "assets/dist/images/product/Products02.png"|theme }} alt="image" class="img-fluid rounded-circle">
                                            </figure>
                                            <div class="ms-3">
                                                <h6>Hair conditioner Plant, Shampoo</h6>
                                                <p class="mb-0 time-area">$20.02</p>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- repetable -->
                                    <li>
                                        <a href="javascript:void(0)" class="active">
                                            <figure class="mb-0 flex-shrink-0">
                                                <img src={{ "assets/dist/images/product/Products01.png"|theme }} alt="image" class="img-fluid rounded-circle">
                                            </figure>
                                            <div class="ms-3">
                                                <h6>Herbalism Mixed Anxietyu</h6>
                                                <p class="mb-0 time-area">$20.02</p>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- repetable -->
                                    <li>
                                        <a href="javascript:void(0)" class="active">
                                            <figure class="mb-0 flex-shrink-0">
                                                <img src={{ "assets/dist/images/product/Products03.png"|theme }} alt="image" class="img-fluid rounded-circle">
                                            </figure>
                                            <div class="ms-3">
                                                <h6>Chrysanthemum tea Herbal tea</h6>
                                                <p class="mb-0 time-area">$20.02</p>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- repetable -->
                                </ul>
                            </div>
                        </div>
                        <a href="shop-cart.html" class="ps-3"><i class="bi bi-cart fs-4 pe-2"></i>Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Part -->
<header class="navbar navbar-expand-lg py-lg-0 py-2 px-0 header">
    <nav class="container">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src={{ "assets/dist/images/brand-light.png"|theme }} class="img-fluid logo-light" alt="Brand Logo" title="Brand Logo">
            <img src={{ "assets/dist/images/brand.png"|theme }} class="img-fluid logo-dark" alt="Brand Logo" title="Brand Logo">
        </a>
        <div class="switch order-lg-1 ms-0 ms-lg-3">
            <div class="btn-wrapper">
                <button class="navbar-toggler theme-bg-secondary border-0 menu-toggle" type="button" data-label="Menu"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bars"></span>
                </button>
            </div>
            <!-- color mode  -->
            <div class="nav-item dropdown ms-3 ms-lg-0">
                <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
                        aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
                    <svg class="svg-sprt my-1 theme-icon-active">
                        <use href="#circle-half"></use>
                    </svg>
                    <span class="d-none ms-2" id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="bd-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                                aria-pressed="false">
                            <svg class="svg-sprt opacity-50 theme-icon">
                                <use href="#sun-fill"></use>
                            </svg>

                            <svg class="svg-sprt ms-auto d-none">
                                <use href="#check2"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                                aria-pressed="false">
                            <svg class="svg-sprt opacity-50 theme-icon">
                                <use href="#moon-stars-fill"></use>
                            </svg>

                            <svg class="svg-sprt ms-auto d-none">
                                <use href="#check2"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                                aria-pressed="true">
                            <svg class="svg-sprt opacity-50 theme-icon">
                                <use href="#circle-half"></use>
                            </svg>

                            <svg class="svg-sprt ms-auto d-none">
                                <use href="#check2"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- color mode  -->
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link nav-effect dropdown-toggle active" href="#" id="navbarDropdownHome"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Home
                    </a>
                    <ul class="dropdown-menu dropdown-menu-efct sub-menu-effect" aria-labelledby="navbarDropdownHome">
                        <li><a class="dropdown-item" href="index.html">Home Main</a></li>
                        <li><a class="dropdown-item" href="index-blog.html">Home Blog</a></li>
                        <li><a class="dropdown-item active" href="index-video.html">Home Video</a></li>
                        <li><a class="dropdown-item" href="index-banner.html">Home Banner</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown megamenu-li">
                    <a class="nav-link nav-effect dropdown-toggle" href="#" id="navbarDropdownShop" aria-haspopup="true"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Shop
                    </a>
                    <!-- mega menu section -->
                    <div class="dropdown-menu megamenu p-4" aria-labelledby="navbarDropdownShop">
                        <div class="row">
                            <div class="col-sm-6 col-lg-2 mb-3 mb-lg-0">
                                <h5 class="mb-3 fw-bold">Shop Pages</h5>
                                <ul class="sub-menu-effect">
                                    <li><a class="dropdown-item" href="shop-list-view.html">Shop List View</a></li>
                                    <li><a class="dropdown-item" href="shop-categories-view.html">Shop Categories</a></li>
                                    <li><a class="dropdown-item" href="shop-grid-view.html">Shop Grid</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-2 mb-3 mb-lg-0">
                                <h5 class="mb-3 fw-bold">Product Pages</h5>
                                <ul class="sub-menu-effect">
                                    <li><a class="dropdown-item" href="shop-detail-horizontal.html">Horizontal Thumbnail</a></li>
                                    <li><a class="dropdown-item" href="shop-detail-bottom-info.html">Bottom Information</a></li>
                                    <li><a class="dropdown-item" href="shop-detail-side-info.html">Side Information</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-2 mb-3 mb-lg-0">
                                <h5 class="mb-3 fw-bold">Checkout Pages</h5>
                                <ul class="sub-menu-effect">
                                    <li><a class="dropdown-item" href="shop-cart.html">Shop Cart</a></li>
                                    <li><a class="dropdown-item" href="shop-checkout.html">Shop Checkout</a></li>
                                    <li><a class="dropdown-item" href="shop-wishlist.html">Shop Wishlist</a></li>
                                    <li><a class="dropdown-item" href="shop-order-success.html">Order Success</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-2 mb-3 mb-lg-0">
                                <h5 class="mb-3 fw-bold">Account Pages</h5>
                                <ul class="sub-menu-effect">
                                    <li><a class="dropdown-item" href="login.html">Login</a></li>
                                    <li><a class="dropdown-item" href="signup.html">Create an Account</a></li>
                                    <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                                <!-- banner slider -->
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src={{ "assets/dist/images/menu/banner.jpg"|theme }} alt="banner" class="img-fluid">
                                        </div>
                                        <div class="carousel-item">
                                            <img src={{ "assets/dist/images/menu/banner2.jpg"|theme }} alt="banner" class="img-fluid">
                                        </div>
                                        <div class="carousel-item">
                                            <img src={{ "assets/dist/images/menu/banner3.jpg"|theme }} alt="banner" class="img-fluid">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end mega menu section -->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-effect dropdown-toggle" href="#" id="navbarDropdownPages" data-bs-toggle="dropdown"
                       aria-expanded="false" data-bs-auto-close="outside">Pages</a>
                    <ul class="dropdown-menu dropdown-menu-efct sub-menu-effect" aria-labelledby="navbarDropdownPages">
                        <li><a class="dropdown-item" href="about.html">About Page</a></li>
                        <!-- nested sub drop down start -->
                        <li class="nav-item dropdown sub-down">
                            <a class="nav-link dropdown-toggle sub" href="#" id="navbarSubDropdown2" data-bs-toggle="dropdown"
                               aria-expanded="false" data-bs-auto-close="outside">Services</a>
                            <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarSubDropdown2">
                                <li><a class="dropdown-item" href="services.html">Services</a></li>
                                <li><a class="dropdown-item" href="services-details.html">Services Details</a></li>
                            </ul>
                        </li>
                        <!-- nested sub drop down end -->
                        <li><a class="dropdown-item" href="contact.html">Contact Page</a></li>
                        <li><a class="dropdown-item" href="privacy.html">Privacy Page</a></li>
                        <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="pricing-plan.html">Pricing</a></li>
                        <li><a class="dropdown-item" href="testimonials.html">Testimonials</a></li>
                        <li><a class="dropdown-item" href="our-team.html">Team Page</a></li>
                        <li><a class="dropdown-item" href="team-detail.html">Team Detail</a></li>
                        <li><a class="dropdown-item" href="appointment.html">Appointment Page</a></li>
                        <li><a class="dropdown-item" href="clients.html">Clients</a></li>
                        <li><a class="dropdown-item" href="error.html">404 Error Page</a></li>
                        <li><a class="dropdown-item" href="maintenance.html">Maintenance Mode</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-effect dropdown-toggle" href="#" id="navbarDropdownGallery" data-bs-toggle="dropdown"
                       aria-expanded="false">Gallery</a>
                    <ul class="dropdown-menu dropdown-menu-efct sub-menu-effect" aria-labelledby="navbarDropdownGallery">
                        <li><a class="dropdown-item" href="gallery-2-columns.html">Gallery 2 columns</a></li>
                        <li><a class="dropdown-item" href="gallery-slider.html">Gallery - Slider</a></li>
                        <li><a class="dropdown-item" href="gallery-mixed.html">Gallery Mixed</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-effect dropdown-toggle" href="#" id="navbarDropdownBlogs" data-bs-toggle="dropdown"
                       aria-expanded="false">Blogs</a>
                    <ul class="dropdown-menu dropdown-menu-efct sub-menu-effect" aria-labelledby="navbarDropdownBlogs">
                        <li><a class="dropdown-item" href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                        <li><a class="dropdown-item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                        <li><a class="dropdown-item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a class="dropdown-item" href="blog-masonry.html">Blog Masonry</a></li>
                        <li><a class="dropdown-item" href="blog-post-standard.html">Single Post</a></li>
                        <li><a class="dropdown-item" href="blog-post-no-sidebar.html">No Sidebar Post</a></li>
                        <li><a class="dropdown-item" href="blog-post-gallery.html">Gallery Post</a></li>
                        <li><a class="dropdown-item" href="blog-post-video.html">Video Post</a></li>
                        <li><a class="dropdown-item" href="blog-post-audio.html">Audio Post</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex ms-2 justify-content-center">
                <button onclick="window.location.href='appointment.html';"
                        class="rounded-pill btn custom-btn-primary font-small primary-btn-effect" type="submit">Consult Now</button>
            </div>
        </div>
    </nav>
</header>
