<!DOCTYPE html>
<html lang="en">
{% partial "common/meta.htm" %}
<body>
<div class="stars"></div>
<div class="twinkling"></div>

<div id="preloader">
    <div id="status"><img src="images/header/horoscope.gif" id="preloader_image" alt="loader">
    </div>
</div>
{% partial "topbar/topbar.htm" %}

<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">

    </div>
</div>

<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            {% page %}
        </div>
    </div>
</div>

<div class="hs_footer_main_wrapper">
    {% partial "common/newsletter.htm" %}

    {% partial "common/footer.htm" %}
</div>

{% partial "common/bottom_footer.htm" %}

{% partial "common/scripts.htm" %}
</body>

</html>
