<div class="hs_bottom_footer_main_wrapper">
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="footer_bottom_cont_wrapper">
                    <p>© Copyright 2020 by Jyotish. All right Reserved - Design By <a href="#">Webstrot</a></p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="footer_bottom_list_wrapper">
                    <ul>
                        <li><a href="#">Private policy</a>
                        </li>
                        <li><a href="#">Terms &amp; Conditions</a>
                        </li>
                        <li><a href="#">Refund policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
