<div class="newsletter_section">
    <div class="container">
        <div class="newsletter_box">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="newsletter_cont">
                        <h2>Subscribe Our <span>Newletter</span></h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="newsletter_form">
                        <form>
                            <input name="email" type="email" placeholder="Email Address..."><a href="#">subscribe</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
