<script src="{{ 'assets/js/jquery_min.js'|theme }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/modernizr.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.menu-aim.js'|theme }}"></script>
<script src="{{ 'assets/js/parallax.min.js'|theme }}"></script>
<script src="{{ 'assets/js/owl.carousel.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.shuffle.min.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.countTo.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.magnific-popup.js'|theme }}"></script>
<script src="{{ 'assets/js/datepicker.js'|theme }}"></script>
<script src="{{ 'assets/js/custom.js'|theme }}"></script>
